{
  "openapi": "3.1.0",
  "info": {
    "title": "Snappd API",
    "version": "1.0.0",
    "description": "Complete API for screenshot sharing with authentication, upload management, and analytics.\n\n## Features\n- Screenshot upload with signed URLs\n- Image optimization and metadata extraction\n- Share links with access controls (public/private/password)\n- View tracking and analytics\n- User authentication (email/password, OAuth, magic link)\n- Usage quota management\n\n## Security\n- All endpoints use HTTPS only\n- JWT authentication via Bearer tokens or HTTP-only cookies\n- CSRF protection with SameSite=Lax cookies\n- Rate limiting on all endpoints\n- Row-level security (RLS) in database",
    "contact": {
      "name": "Snappd API Support",
      "email": "support@snappd.io"
    }
  },
  "servers": [
    {
      "url": "https://snappd.io/api/v1",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000/api/v1",
      "description": "Local development"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "User authentication operations"
    },
    {
      "name": "Profile",
      "description": "User profile management"
    },
    {
      "name": "OAuth",
      "description": "OAuth provider integration"
    },
    {
      "name": "Upload",
      "description": "Screenshot upload operations"
    },
    {
      "name": "Screenshots",
      "description": "Screenshot management"
    },
    {
      "name": "Sharing",
      "description": "Share link operations"
    },
    {
      "name": "Analytics",
      "description": "View tracking and statistics"
    },
    {
      "name": "Usage",
      "description": "Quota and usage tracking"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/auth/signup": {
      "post": {
        "summary": "Register new user",
        "description": "Creates a new user account with email and password. Sends verification email automatically. Creates user profile with 'free' plan tier.",
        "operationId": "signup",
        "tags": ["Authentication"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignupRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Basic signup",
                  "value": {
                    "email": "user@example.com",
                    "password": "SecurePass123!"
                  }
                },
                "withName": {
                  "summary": "Signup with full name",
                  "value": {
                    "email": "user@example.com",
                    "password": "SecurePass123!",
                    "fullName": "John Doe"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignupResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "409": {
            "description": "Email already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "EMAIL_EXISTS",
                  "message": "An account with this email already exists",
                  "statusCode": 409
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/auth/signin": {
      "post": {
        "summary": "Sign in user",
        "description": "Authenticates user with email and password. Returns session cookie on success. Subject to dual-scope rate limiting (per-account + per-IP).",
        "operationId": "signin",
        "tags": ["Authentication"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SigninRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "headers": {
              "Set-Cookie": {
                "description": "Session cookie",
                "schema": {
                  "type": "string",
                  "example": "sb-access-token=eyJhbGc...; HttpOnly; Secure; SameSite=Lax; Max-Age=604800"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SigninResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "INVALID_CREDENTIALS",
                  "message": "Invalid email or password",
                  "statusCode": 401
                }
              }
            }
          },
          "403": {
            "description": "Email not verified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "EMAIL_NOT_VERIFIED",
                  "message": "Please verify your email before logging in",
                  "statusCode": 403
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/auth/signout": {
      "post": {
        "summary": "Sign out user",
        "description": "Invalidates current session and clears session cookie.",
        "operationId": "signout",
        "tags": ["Authentication"],
        "responses": {
          "200": {
            "description": "Logout successful",
            "headers": {
              "Set-Cookie": {
                "description": "Cleared session cookie",
                "schema": {
                  "type": "string",
                  "example": "sb-access-token=; Max-Age=0"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Logged out successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/reset-password": {
      "post": {
        "summary": "Request password reset",
        "description": "Sends password reset email with time-limited token (1 hour). Rate limited to 3 requests per hour per email.",
        "operationId": "resetPassword",
        "tags": ["Authentication"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPasswordRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reset email sent (or suppressed for security)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "If an account exists with this email, a password reset link has been sent"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/auth/reset-password/confirm": {
      "post": {
        "summary": "Confirm password reset",
        "description": "Sets new password using reset token from email.",
        "operationId": "confirmPasswordReset",
        "tags": ["Authentication"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["token", "newPassword"],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Reset token from email"
                  },
                  "newPassword": {
                    "type": "string",
                    "minLength": 8,
                    "description": "New password meeting complexity requirements"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password reset successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Password reset successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or expired token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/verify-email": {
      "get": {
        "summary": "Verify email address",
        "description": "Confirms user email using token from verification email. Token is single-use and expires after 24 hours.",
        "operationId": "verifyEmail",
        "tags": ["Authentication"],
        "security": [],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Email verification token"
          }
        ],
        "responses": {
          "200": {
            "description": "Email verified successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Email verified successfully"
                    },
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or expired token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "INVALID_TOKEN",
                  "message": "Invalid or expired verification token",
                  "statusCode": 400
                }
              }
            }
          }
        }
      }
    },
    "/auth/verify-email/resend": {
      "post": {
        "summary": "Resend verification email",
        "description": "Sends a new verification email to the user's email address. Rate limited to prevent abuse.",
        "operationId": "resendVerificationEmail",
        "tags": ["Authentication"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email"],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "user@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification email sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Verification email sent successfully"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/auth/magic-link": {
      "post": {
        "summary": "Send magic link",
        "description": "Sends passwordless authentication link via email.",
        "operationId": "sendMagicLink",
        "tags": ["Authentication"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email"],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "user@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Magic link sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Magic link sent to your email"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/auth/magic-link/callback": {
      "get": {
        "summary": "Magic link callback",
        "description": "Handles magic link authentication callback.",
        "operationId": "magicLinkCallback",
        "tags": ["Authentication"],
        "security": [],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirects to dashboard on success"
          }
        }
      }
    },
    "/auth/callback/google": {
      "get": {
        "summary": "Google OAuth callback",
        "description": "Handles Google OAuth authorization callback. Creates account if new user, links to existing account if email matches.",
        "operationId": "googleCallback",
        "tags": ["OAuth"],
        "security": [],
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "OAuth authorization code"
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "CSRF protection state parameter"
          }
        ],
        "responses": {
          "302": {
            "description": "Redirects to dashboard or error page",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "enum": ["/dashboard", "/login?error=oauth_failed"]
                }
              },
              "Set-Cookie": {
                "description": "Session cookie on success",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid OAuth response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/user": {
      "get": {
        "summary": "Get current user",
        "description": "Returns currently authenticated user data. Validates session token with Supabase Auth server.",
        "operationId": "getUser",
        "tags": ["Profile"],
        "responses": {
          "200": {
            "description": "User data retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/account": {
      "delete": {
        "summary": "Delete user account",
        "description": "Permanently deletes the user account, all associated screenshots, and user data. This action cannot be undone.",
        "operationId": "deleteAccount",
        "tags": ["Profile"],
        "responses": {
          "204": {
            "description": "Account deleted successfully"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/user/usage": {
      "get": {
        "summary": "Get user quota usage",
        "description": "Returns current month's usage statistics including screenshot count, storage, and bandwidth.",
        "operationId": "getUserUsage",
        "tags": ["Usage"],
        "responses": {
          "200": {
            "description": "Usage statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "plan": {
                      "type": "string",
                      "enum": ["free", "pro", "team"],
                      "example": "free"
                    },
                    "currentMonth": {
                      "type": "string",
                      "example": "2025-11"
                    },
                    "screenshotCount": {
                      "type": "integer",
                      "example": 7
                    },
                    "screenshotLimit": {
                      "type": ["integer", "null"],
                      "example": 10,
                      "description": "null for unlimited (pro/team)"
                    },
                    "storageBytes": {
                      "type": "integer",
                      "example": 52428800
                    },
                    "storageLimitBytes": {
                      "type": ["integer", "null"]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/upload/init": {
      "post": {
        "summary": "Initialize upload session",
        "description": "Creates a signed upload URL for direct client upload to Supabase Storage. Checks user quota and generates unique file path.",
        "operationId": "initUpload",
        "tags": ["Upload"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["filename", "fileSize", "mimeType"],
                "properties": {
                  "filename": {
                    "type": "string",
                    "example": "screenshot-2025-11-03.png",
                    "description": "Original filename"
                  },
                  "fileSize": {
                    "type": "integer",
                    "example": 5242880,
                    "description": "File size in bytes (max 10MB)"
                  },
                  "mimeType": {
                    "type": "string",
                    "enum": ["image/png", "image/jpeg", "image/jpg", "image/webp", "image/gif"],
                    "example": "image/png"
                  },
                  "sharingMode": {
                    "type": "string",
                    "enum": ["public", "private", "password"],
                    "default": "public",
                    "description": "Access control mode"
                  },
                  "password": {
                    "type": "string",
                    "description": "Required if sharingMode is 'password'",
                    "minLength": 8
                  },
                  "expiresIn": {
                    "type": "integer",
                    "description": "Expiration time in seconds (null for permanent)",
                    "example": 2592000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload session created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "uploadSessionId": {
                      "type": "string",
                      "format": "uuid",
                      "example": "123e4567-e89b-12d3-a456-426614174000"
                    },
                    "signedUrl": {
                      "type": "string",
                      "format": "uri",
                      "example": "https://xxx.supabase.co/storage/v1/upload/sign/..."
                    },
                    "token": {
                      "type": "string",
                      "description": "Upload token for signed URL"
                    },
                    "filePath": {
                      "type": "string",
                      "example": "550e8400-e29b-41d4-a716-446655440000/2025/11/a3f5e8b-1730678400000.png"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "When signed URL expires"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/QuotaExceeded"
          },
          "413": {
            "description": "File too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "FILE_TOO_LARGE",
                  "message": "File size exceeds 10MB limit",
                  "statusCode": 413
                }
              }
            }
          }
        }
      }
    },
    "/upload/{uploadSessionId}/complete": {
      "post": {
        "summary": "Complete upload session",
        "description": "Finalizes upload after client completes file transfer. Triggers image optimization and metadata extraction.",
        "operationId": "completeUpload",
        "tags": ["Upload"],
        "parameters": [
          {
            "name": "uploadSessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Upload completed and processing started",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "screenshotId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "shortId": {
                      "type": "string",
                      "example": "aB3xYz"
                    },
                    "shareUrl": {
                      "type": "string",
                      "format": "uri",
                      "example": "https://snappd.io/aB3xYz"
                    },
                    "status": {
                      "type": "string",
                      "enum": ["processing", "completed"]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "410": {
            "description": "Upload session expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/upload/{uploadSessionId}/progress": {
      "get": {
        "summary": "Get upload progress",
        "description": "Returns current upload and processing status",
        "operationId": "getUploadProgress",
        "tags": ["Upload"],
        "parameters": [
          {
            "name": "uploadSessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Upload progress",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["pending", "uploading", "processing", "completed", "failed"]
                    },
                    "bytesUploaded": {
                      "type": "integer"
                    },
                    "totalBytes": {
                      "type": "integer"
                    },
                    "percentage": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 100
                    },
                    "error": {
                      "type": ["string", "null"]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/screenshots": {
      "get": {
        "summary": "List user's screenshots",
        "description": "Returns paginated list of user's screenshots",
        "operationId": "listScreenshots",
        "tags": ["Screenshots"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["created_at", "views", "file_size"],
              "default": "created_at"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Screenshot list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "screenshots": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Screenshot"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/screenshots/{shortId}": {
      "delete": {
        "summary": "Delete screenshot",
        "description": "Permanently deletes screenshot and associated files",
        "operationId": "deleteScreenshot",
        "tags": ["Screenshots"],
        "parameters": [
          {
            "name": "shortId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Screenshot deleted successfully"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Not authorized to delete this screenshot"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/screenshots/bulk-delete": {
      "post": {
        "summary": "Bulk delete screenshots",
        "description": "Deletes multiple screenshots in a single operation",
        "operationId": "bulkDeleteScreenshots",
        "tags": ["Screenshots"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["shortIds"],
                "properties": {
                  "shortIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": ["aB3xYz", "xY9zAb"],
                    "maxItems": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk deletion results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "integer",
                      "description": "Number of screenshots successfully deleted"
                    },
                    "failed": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "shortId": {
                            "type": "string"
                          },
                          "error": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "207": {
            "description": "Multi-Status: Partial success with some failures"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/screenshots/{shortId}/access": {
      "get": {
        "summary": "Get screenshot for public access",
        "description": "Returns screenshot metadata and signed URL for viewing. No authentication required for public screenshots.",
        "operationId": "getScreenshotAccess",
        "tags": ["Sharing"],
        "security": [],
        "parameters": [
          {
            "name": "shortId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "aB3xYz"
          }
        ],
        "responses": {
          "200": {
            "description": "Screenshot details",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Screenshot"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "imageUrl": {
                          "type": "string",
                          "format": "uri",
                          "description": "Signed URL for viewing image"
                        },
                        "thumbnailUrl": {
                          "type": "string",
                          "format": "uri"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Password required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "PASSWORD_REQUIRED",
                  "message": "This screenshot is password protected",
                  "statusCode": 401
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "410": {
            "description": "Screenshot expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "SCREENSHOT_EXPIRED",
                  "message": "This screenshot link has expired",
                  "statusCode": 410
                }
              }
            }
          }
        }
      }
    },
    "/screenshots/{shortId}/verify-password": {
      "post": {
        "summary": "Verify screenshot password",
        "description": "Verifies password for password-protected screenshots. Returns access token on success.",
        "operationId": "verifyScreenshotPassword",
        "tags": ["Sharing"],
        "security": [],
        "parameters": [
          {
            "name": "shortId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["password"],
                "properties": {
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password verified",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Password verified"
                    },
                    "accessToken": {
                      "type": "string",
                      "description": "Temporary access token"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Incorrect password",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many password attempts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "RATE_LIMIT_EXCEEDED",
                  "message": "Too many failed attempts. Try again in 5 minutes.",
                  "statusCode": 429,
                  "retryAfter": 300
                }
              }
            }
          }
        }
      }
    },
    "/screenshots/{shortId}/url": {
      "get": {
        "summary": "Get signed screenshot URL",
        "description": "Returns signed URL for authenticated access to screenshot image",
        "operationId": "getScreenshotUrl",
        "tags": ["Screenshots"],
        "parameters": [
          {
            "name": "shortId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signed URL generated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/screenshots/{shortId}/analytics": {
      "get": {
        "summary": "Get screenshot analytics",
        "description": "Returns view statistics for a screenshot",
        "operationId": "getScreenshotAnalytics",
        "tags": ["Analytics"],
        "parameters": [
          {
            "name": "shortId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30
            },
            "description": "Number of days to include"
          }
        ],
        "responses": {
          "200": {
            "description": "Analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalViews": {
                      "type": "integer",
                      "example": 157
                    },
                    "uniqueViewers": {
                      "type": "integer",
                      "example": 89
                    },
                    "dailyStats": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date"
                          },
                          "views": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "countryStats": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "integer"
                      },
                      "example": {
                        "US": 45,
                        "UK": 23,
                        "CA": 15
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Not authorized to view analytics"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/screenshots/{shortId}/track-view": {
      "post": {
        "summary": "Track screenshot view",
        "description": "Records a view event for analytics (called automatically when screenshot is accessed). Returns 200 even on rate limit to preserve user experience.",
        "operationId": "trackView",
        "tags": ["Analytics"],
        "security": [],
        "parameters": [
          {
            "name": "shortId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "View tracked successfully (or rate limited silently)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "View tracked successfully"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Supabase JWT token obtained from authentication endpoints"
      },
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "sb-access-token",
        "description": "HTTP-only session cookie set by Supabase Auth"
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "user@example.com"
          },
          "emailVerified": {
            "type": "boolean",
            "example": true
          },
          "fullName": {
            "type": ["string", "null"],
            "example": "John Doe"
          },
          "plan": {
            "type": "string",
            "enum": ["free", "pro", "team"],
            "example": "free"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2025-11-02T12:00:00Z"
          }
        }
      },
      "UserResponse": {
        "type": "object",
        "properties": {
          "user": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "SignupRequest": {
        "type": "object",
        "required": ["email", "password"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 255,
            "description": "User's email address",
            "example": "user@example.com"
          },
          "password": {
            "type": "string",
            "minLength": 8,
            "pattern": "^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[@$!%*?&])[A-Za-z\\d@$!%*?&]{8,}$",
            "description": "Password must contain: minimum 8 characters, at least one uppercase letter, one lowercase letter, one number, and one special character",
            "example": "SecurePass123!"
          },
          "fullName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "User's full name (optional)",
            "example": "John Doe"
          }
        }
      },
      "SignupResponse": {
        "type": "object",
        "properties": {
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "message": {
            "type": "string",
            "example": "Account created successfully. Please check your email to verify your account."
          }
        }
      },
      "SigninRequest": {
        "type": "object",
        "required": ["email", "password"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "user@example.com"
          },
          "password": {
            "type": "string",
            "minLength": 1,
            "example": "SecurePass123!"
          }
        }
      },
      "SigninResponse": {
        "type": "object",
        "properties": {
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "session": {
            "type": "object",
            "properties": {
              "expiresAt": {
                "type": "string",
                "format": "date-time",
                "description": "When the session expires",
                "example": "2025-11-09T12:00:00Z"
              }
            }
          }
        }
      },
      "ResetPasswordRequest": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "user@example.com"
          }
        }
      },
      "Screenshot": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "shortId": {
            "type": "string",
            "example": "aB3xYz"
          },
          "originalFilename": {
            "type": "string",
            "example": "screenshot-2025-11-03.png"
          },
          "fileSize": {
            "type": "integer",
            "description": "Size in bytes"
          },
          "width": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          },
          "mimeType": {
            "type": "string"
          },
          "isPublic": {
            "type": "boolean"
          },
          "views": {
            "type": "integer"
          },
          "expiresAt": {
            "type": ["string", "null"],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error", "message", "statusCode"],
        "properties": {
          "error": {
            "type": "string",
            "description": "Machine-readable error code"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message"
          },
          "statusCode": {
            "type": "integer",
            "description": "HTTP status code"
          },
          "details": {
            "description": "Additional error context"
          },
          "field": {
            "type": "string",
            "description": "Field name for validation errors"
          },
          "retryable": {
            "type": "boolean",
            "description": "Whether the client can retry the request"
          },
          "retryAfter": {
            "type": "integer",
            "description": "Seconds to wait before retrying (for rate limits)"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "VALIDATION_ERROR",
              "message": "Missing required field: filename",
              "statusCode": 400
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Authentication required",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "UNAUTHORIZED",
              "message": "Authentication token required",
              "statusCode": 401
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "NOT_FOUND",
              "message": "Screenshot not found",
              "statusCode": 404
            }
          }
        }
      },
      "QuotaExceeded": {
        "description": "User quota exceeded",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "QUOTA_EXCEEDED",
              "message": "You've reached your monthly limit of 10 screenshots. Upgrade to Pro for unlimited uploads.",
              "statusCode": 403,
              "quota": {
                "current": 10,
                "limit": 10,
                "unit": "uploads"
              },
              "upgrade": {
                "message": "Upgrade to Pro",
                "plan": "pro",
                "url": "/pricing"
              }
            }
          }
        }
      },
      "RateLimitError": {
        "description": "Too many requests",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": ["error", "message", "statusCode", "retryAfter"],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": ["ACCOUNT_LOCKED", "IP_BLOCKED", "RATE_LIMIT_EXCEEDED"],
                  "example": "RATE_LIMIT_EXCEEDED"
                },
                "message": {
                  "type": "string",
                  "example": "Too many requests. Please try again later."
                },
                "statusCode": {
                  "type": "integer",
                  "example": 429
                },
                "retryAfter": {
                  "type": "integer",
                  "description": "Seconds until rate limit resets",
                  "example": 300
                }
              }
            }
          }
        }
      },
      "ValidationError": {
        "description": "Validation error",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": ["error", "message", "statusCode", "details"],
              "properties": {
                "error": {
                  "type": "string",
                  "example": "VALIDATION_ERROR"
                },
                "message": {
                  "type": "string",
                  "example": "Validation failed"
                },
                "statusCode": {
                  "type": "integer",
                  "example": 400
                },
                "details": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "field": {
                        "type": "string",
                        "example": "password"
                      },
                      "message": {
                        "type": "string",
                        "example": "Password must contain at least one uppercase letter"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
